<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      type="image/jpg"
      href="../assets/images/global/favicon/favicon.ico"
    />
    <title>Samurai Chef | Chefs</title>
    <link rel="stylesheet" href="/src/assets/styles/main.scss" />
    <script type="module" src="../assets/scripts/main.js"></script>
  </head>
  <body>
    <!--======= #HEADER =======-->
    <include src="./views/shared/header.html"></include>

    <!--======= #MAIN =======-->
    <main class="container py-3 px-3 mx-auto">
      <!--generar script con la plantilla de los chefs-->
      <h1>Mejores Chefs</h1>
      <div class="card-list">
        <div class="card my-3" style="width: 18rem">
          <img
            src="/src/assets/images/chefs/foto.jpg"
            class="card-img-top"
            alt="Chef 1"
          />
          <div class="card-body">
            <h5 class="card-title">Chef 1</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
        <div class="card my-3" style="width: 18rem">
          <img
            src="/src/assets/images/chefs/foto.jpg"
            class="card-img-top"
            alt="Chef 2"
          />
          <div class="card-body">
            <h5 class="card-title">Chef 2</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
        <div class="card my-3" style="width: 18rem">
          <img
            src="/src/assets/images/chefs/foto.jpg"
            class="card-img-top"
            alt="Chef 3"
          />
          <div class="card-body">
            <h5 class="card-title">Chef 3</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
        <div class="card my-3" style="width: 18rem">
          <img
            src="/src/assets/images/chefs/foto.jpg"
            class="card-img-top"
            alt="Chef 4"
          />
          <div class="card-body">
            <h5 class="card-title">Chef 4</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
        <div class="card my-3" style="width: 18rem">
          <img
            src="/src/assets/images/chefs/foto.jpg"
            class="card-img-top"
            alt="Chef 5"
          />
          <div class="card-body">
            <h5 class="card-title">Chef 5</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
        <div class="card my-3" style="width: 18rem">
          <img
            src="/src/assets/images/chefs/foto.jpg"
            class="card-img-top"
            alt="Chef 6"
          />
          <div class="card-body">
            <h5 class="card-title">Chef 6</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
        <div class="card my-3" style="width: 18rem">
          <img
            src="/src/assets/images/chefs/foto.jpg"
            class="card-img-top"
            alt="Chef 7"
          />
          <div class="card-body">
            <h5 class="card-title">Chef 7</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </main>

    <!--======= #FOOTER =======-->
    <include src="./views/shared/footer.html"></include>
  </body>
</html>
